<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hi! I'm Keith</h1>
		<p> Welcome to my blog. I'm a graphic designer and I turned to coding after a car accident to keep my mind busy. This is a demo app that I made. I'm fully aware that I could have signed up for a number of prefab blogs and had this up and going in 30 minutes, but I used it to learn Ruby on Rails and to practice my rusty CSS. I'll also be learning how to add this application to my server so it can be live and so that somebody will actually be able to see it! (PS. I did it. It's live now.) It's pretty neat, indeed. In the future, I'm going to be adding projects to this website as I make them. I plan on showcasing my work to show prospective employers. </p>
	<div id="image5">
		<%= image_tag "abby.jpeg" %>
	</div>
	<div id="image4">
		<%= image_tag "heart.jpeg" %>
	</div>
	<div id="image3">
		<%= image_tag "keith.jpeg" %>
	</div>
		<p>Next summer I get to marry the love of my life, Abby. I can't wait for the wedding, partly because I get to marry Abby, and partly because the stress of planning a wedding can be overwhelming. </p>
		<p>I'm passionate about bikes too (see that bicycle wheel logo I made). When I'm not plugging away bugs in my code, I'm probably out riding my bike. Or fixing my bike. Or working at the local bike shop. Or planning my next ridiculously long ride into the heart of Wisconsin.</p>
<div id="river">
		<%= image_tag "river.jpeg" %>
	</div>
		<p>I also dabble in photography. I want to get better at shooting, so I'm doing a <%= link_to "30-Day challenge", challenge_path %> to force myself to practice. You can check out my progress. It takes me a couple of days to process the images, so they might not show up on the day I shoot.</p>
		<p>I'll try to update this page a bit later, but for now I think there's a healthy amount of content about me. </p>
		<p>++kb</p>
	
		



	</div>


</div>